<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<string>[微笑]</string>
	<key>002</key>
	<string>[吐舌头]</string>
	<key>003</key>
	<string>[大笑]</string>
	<key>004</key>
	<string>[偷笑]</string>
	<key>005</key>
	<string>[酷]</string>
	<key>006</key>
	<string>[坏笑]</string>
	<key>007</key>
	<string>[亲亲]</string>
	<key>008</key>
	<string>[奋斗]</string>
	<key>009</key>
	<string>[难过]</string>
	<key>010</key>
	<string>[无聊]</string>
	<key>011</key>
	<string>[抠鼻屎]</string>
	<key>012</key>
	<string>[汗]</string>
	<key>013</key>
	<string>[衰]</string>
	<key>014</key>
	<string>[疑问]</string>
	<key>015</key>
	<string>[饥饿]</string>
	<key>016</key>
	<string>[白眼]</string>
	<key>017</key>
	<string>[仰慕]</string>
	<key>018</key>
	<string>[可怜]</string>
	<key>019</key>
	<string>[生气]</string>
	<key>020</key>
	<string>[抓狂]</string>
	<key>021</key>
	<string>[愤怒]</string>
	<key>022</key>
	<string>[敲打]</string>
	<key>023</key>
	<string>[晕]</string>
	<key>024</key>
	<string>[鄙视]</string>
	<key>025</key>
	<string>[no]</string>
	<key>026</key>
	<string>[摊手]</string>
	<key>027</key>
	<string>[闭嘴]</string>
	<key>028</key>
	<string>[大哭]</string>
	<key>029</key>
	<string>[晚安]</string>
	<key>030</key>
	<string>[困]</string>
	<key>031</key>
	<string>[犯错]</string>
	<key>032</key>
	<string>[恶心]</string>
	<key>033</key>
	<string>[再见]</string>
	<key>034</key>
	<string>[囧]</string>
	<key>035</key>
	<string>[路过]</string>
	<key>036</key>
	<string>[赞扬]</string>
	<key>037</key>
	<string>[弱爆了]</string>
	<key>038</key>
	<string>[好的]</string>
	<key>039</key>
	<string>[握手]</string>
	<key>040</key>
	<string>[勾引]</string>
	<key>041</key>
	<string>[拉钩]</string>
	<key>042</key>
	<string>[鼓掌]</string>
	<key>043</key>
	<string>[爸爸]</string>
	<key>044</key>
	<string>[妈妈]</string>
	<key>045</key>
	<string>[男孩]</string>
	<key>046</key>
	<string>[女孩]</string>
	<key>047</key>
	<string>[小红花]</string>
	<key>048</key>
	<string>[喵喵]</string>
	<key>049</key>
	<string>[猪头]</string>
	<key>050</key>
	<string>[礼物]</string>
	<key>051</key>
	<string>[学校]</string>
	<key>052</key>
	<string>[家里]</string>
	<key>053</key>
	<string>[校车]</string>
	<key>054</key>
	<string>[红心]</string>
	<key>055</key>
	<string>[心碎]</string>
	<key>056</key>
	<string>[蛋糕]</string>
	<key>057</key>
	<string>[玫瑰]</string>
	<key>058</key>
	<string>[奖杯]</string>
	<key>059</key>
	<string>[咖啡]</string>
	<key>060</key>
	<string>[便便]</string>
	<key>099</key>
	<string>[打开网址]</string>
</dict>
</plist>
