<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>25</key>
	<string>赞.gif</string>
	<key>18</key>
	<string>小意思.gif</string>
	<key>10</key>
	<string>可爱.gif</string>
	<key>001</key>
	<string>001</string>
	<key>26</key>
	<string>鄙视.gif</string>
	<key>19</key>
	<string>怕怕.gif</string>
	<key>11</key>
	<string>哈哈.gif</string>
	<key>27</key>
	<string>闪亮登场.gif</string>
	<key>12</key>
	<string>喝奶奶.gif</string>
	<key>1</key>
	<string>Ǳˮ.gif</string>
	<key>28</key>
	<string>雷人.gif</string>
	<key>20</key>
	<string>我顶.gif</string>
	<key>2</key>
	<string>˥.gif</string>
	<key>13</key>
	<string>嗯嗯.gif</string>
	<key>29</key>
	<string>飘过.gif</string>
	<key>21</key>
	<string>拍张照吧.gif</string>
	<key>14</key>
	<string>嘻嘻.gif</string>
	<key>3</key>
	<string>下班啦.gif</string>
	<key>4</key>
	<string>不要就不要.gif</string>
	<key>22</key>
	<string>拜拜.gif</string>
	<key>15</key>
	<string>嘿嘿.gif</string>
	<key>5</key>
	<string>亲亲.gif</string>
	<key>6</key>
	<string>人呢人呢.gif</string>
	<key>30</key>
	<string>饿了.gif</string>
	<key>23</key>
	<string>挖鼻孔.gif</string>
	<key>16</key>
	<string>困了.gif</string>
	<key>7</key>
	<string>健身操.gif</string>
	<key>8</key>
	<string>刷牙.gif</string>
	<key>24</key>
	<string>晚安.gif</string>
	<key>17</key>
	<string>好开心.gif</string>
	<key>9</key>
	<string>去1号了.gif</string>
</dict>
</plist>
